body {
	background: #ffffff;
	text-align: left;
	font: 400 16px/1.4em 'Roboto', sans-serif;
	color: #1d1d1d;
}

/* ************************************************************************** */

h1 {
	margin-bottom: 1em;
	font: bold 40px/1.25em 'Roboto', sans-serif;
	text-transform: uppercase;
}

h1.hidden_h1 {
	position: absolute;
	z-index: -1000;
	top: -100000px;
}

h2 {
	/* margin-top: -0.25em; */
	margin-bottom: 1em;
	font: bold 36px/1.25em 'Roboto', sans-serif;
	text-transform: uppercase;
}

h3 {
	/* margin-top: -0.25em; */
	margin-bottom: 1em;
	font: bold 30px/1.25em 'Roboto', sans-serif;
	text-transform: uppercase;
}

@media (max-width: 1199px) {
	h1 {
		font-size: 36px;
	}
	h2 {
		font-size: 33px;
	}
	h3 {
		font-size: 27px;
	}
}

@media (max-width: 991px) {
	h1 {
		font-size: 33px;
	}
	h2 {
		font-size: 30px;
	}
	h3 {
		font-size: 24px;
	}
}

@media (max-width: 767px) {
	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 27px;
	}
	h3 {
		font-size: 20px;
	}
}


/* ************************************************************************** */

p > a,
li > a {
	color: #ff4d00;
	-webkit-transition: all 0.15s ease 0s;
	-ms-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.body-desktop-device p > a:hover,
.body-desktop-device li > a:hover {
	color: #ff7033;
}

.body-desktop-device p > a:active,
.body-mobile-device p > a:active,
.body-desktop-device li > a:active,
.body-mobile-device li > a:active {
	color: #c73c00;
}

/* ************************************************************************** */

.btn-top-page {
	position: fixed;
	z-index: 10;
	bottom: 80px;
	right: 20px;
	opacity: 0;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.btn-top-page.visible {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

@media (max-width: 559px) {
	.btn-top-page {
		width: 40px;
		height: 40px;
		bottom: 18px;
	}
	.btn-top-page .ico {
		width: 28px;
		height: 28px;
	}
}


/* ************************************************************************** */

section {
	position: relative;
	z-index: 1;
	padding-bottom: 120px;
	background-color: #ffffff;
}

section.next-other-background {
	padding-top: 120px;
}

section > .inner {
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
	max-width: 1200px;
}

@media (max-width: 1199px) {
	section {
		padding-bottom: 90px;
	}
	section.next-other-background {
		padding-top: 90px;
	}
}

@media (max-width: 991px) {
	section {
		padding-bottom: 70px;
	}
	section.next-other-background {
		padding-top: 70px;
	}
}

@media (max-width: 767px) {
	section {
		padding-bottom: 55px;
	}
	section.next-other-background {
		padding-top: 55px;
	}
}

/******************************************************************************/

body > .wrapper {
	position: relative;
	height: 100%;
	min-height: 100%;
	min-height: -webkit-fill-available;
	min-height: -moz-available;
	min-height: fill-available;

	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;

	flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
}

body > .wrapper > .overlay {
	display: block;
	position: fixed;
	z-index: 11;
	left: 0;
	top: 0;
	bottom: 100%;
	right: 0;
	background-color: rgba(0, 0, 0, 0.6);
	opacity: 0;
	-webkit-transition: opacity 0.3s ease 0.3s, bottom 0s ease 0.6s;
	-moz-transition: opacity 0.3s ease 0.3s, bottom 0s ease 0.6s;
	-ms-transition: opacity 0.3s ease 0.3s, bottom 0s ease 0.6s;
	-o-transition: opacity 0.3s ease 0.3s, bottom 0s ease 0.6s;
	transition: opacity 0.3s ease 0.3s, bottom 0s ease 0.6s;
}

@media (max-width: 991px) {
	.body-mobile-menu-open {
		overflow: hidden;
	}
	.body-mobile-menu-open > .wrapper > .overlay {
		opacity: 1;
		bottom: 0;
		-webkit-transition: opacity 0.3s ease 0s;
		-moz-transition: opacity 0.3s ease 0s;
		-ms-transition: opacity 0.3s ease 0s;
		-o-transition: opacity 0.3s ease 0s;
		transition: opacity 0.3s ease 0s;
	}
}

/* ************************************************************************** */

.mobile-menu {
	background: #ffffff;
	width: 300px;
	position: fixed;
	z-index: 12;
	top: 0;
	bottom: 0;
	right: 0;
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 100% 0;
	-ms-transform-origin: 100% 0;
	transform-origin: 100% 0;
	-webkit-transition: all 0.2s ease 0s;
	-ms-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}

.mobile-menu > .inner {
	display: block;
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.mobile-menu .content {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100%;
}

.mobile-menu .menu {
	width: 100%;
	padding-bottom: 30px;
}

.mobile-menu .menu li {
	display: block;
}

.mobile-menu .menu li a {
	height: 45px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 20px;
	font: 400 18px/1.4em 'Roboto', sans-serif;
	color: #1d1d1d;
}

.mobile-menu .menu li a.active,
.mobile-menu .menu li a:active {
	color: #ff4d00;
}

.mobile-menu .contacts {
	display: none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.mobile-menu .contacts .phone {
	font: 400 17px/1.4em 'Roboto', sans-serif;
	color: #1d1d1d;
}

.mobile-menu .contacts .phone:active {
	color: #ff4d00;
}

.mobile-menu .contacts .social {
	padding: 30px 0 40px 0;
}

.mobile-menu .contacts .social .btn-soc-c30 {
	margin: 0 10px;
	color: #1d1d1d;
}

.mobile-menu .contacts .social .btn-soc-c30:active {
	color: #ff4d00;
}

.mobile-menu .lang {
	display: none;
}

@media (max-width: 991px) {
	.body-scrolled .mobile-menu .lang {
		top: 17px;
	}
	.mobile-menu .lang {
		position: absolute;
		top: 25px;
		left: 20px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.mobile-menu .lang > ul > li {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.mobile-menu .lang a {
		display: block;
		margin-right: 10px;
		font-size: 18px;
	}
	.mobile-menu .lang > ul > li > a {
		text-decoration: underline;
	}
	.body-mobile-menu-open .mobile-menu {
		-webkit-transform: scaleX(1);
		-ms-transform: scaleX(1);
		transform: scaleX(1);
		-webkit-transition: all 0.2s ease 0.3s;
		-ms-transition: all 0.2s ease 0.3s;
		transition: all 0.2s ease 0.3s;
	}
}

@media (max-width: 559px) {
	.mobile-menu .contacts {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
}

/******************************************************************************/

main {
	position: relative;
	z-index: 2;
	display: block;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-flex-basis: auto;
	-ms-flex-preferred-size: auto;
	flex-basis: auto;
}

.body-not-slider-promo main {
	padding-top: 90px;
}

@media (max-width: 1199px) {
	.body-not-slider-promo main {
		padding-top: 75px;
	}
}

/* ************************************************************************** */

header {
	display: block;
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	right: 0;
	background: transparent;
	-webkit-transition: background-color 0.3s ease 0s;
	-ms-transition: background-color 0.3s ease 0s;
	transition: background-color 0.3s ease 0s;
}

.body-not-slider-promo header {
	background-color: rgba(0, 0, 0, 0.6);
}

.body-scrolled header {
	background-color: rgba(0, 0, 0, 0.6);
}

header > .inner {
	height: 90px;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: height 0.3s ease 0s;
	-ms-transition: height 0.3s ease 0s;
	transition: height 0.3s ease 0s;
}

.body-scrolled header > .inner {
	height: 70px;
}

header .logo {
	position: relative;
	top: -5px;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

header .logo a {
	display: block;
	position: relative;
	height: 0;
	overflow: hidden;
	width: 160px;
	padding-bottom: 31.25%;
	-webkit-transition: width 0.3s ease 0s;
	-ms-transition: width 0.3s ease 0s;
	transition: width 0.3s ease 0s;
}

.body-scrolled header .logo a {
	width: 132px;
}

header .logo a .ico {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.15s ease 0s;
	-ms-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

header .logo a .logo-1-color-1 {
	fill: #ffffff;
	-webkit-transition: all 0.15s ease 0s;
	-ms-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

header .logo a .logo-1-color-2 {
	fill: #ff4d00;
	-webkit-transition: all 0.15s ease 0s;
	-ms-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.body-desktop-device header .logo a:hover .logo-1-color-1 {
	fill: #ff4d00;
}
.body-desktop-device header .logo a:active .logo-1-color-1,
.body-mobile-device header .logo a:active  .logo-1-color-1 {
	fill: #ff4d00;
}

.body-desktop-device header .logo a:hover .logo-1-color-2 {
	fill: #ffffff;
}
.body-desktop-device header .logo a:active .logo-1-color-2,
.body-mobile-device header .logo a:active  .logo-1-color-2 {
	fill: #ffffff;
}

header .menu {
	margin-left: 5%;
	margin-right: 5%;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

header .menu ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

header .menu li {}

header .menu li a {
	font: 300 19px/1em 'Roboto', sans-serif;
	color: #ffffff;
	-webkit-transition: all 0.15s ease 0s;
	-ms-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.body-scrolled header .menu li a {
	font-size: 18px;
}

header .menu li.active a {
	text-decoration: underline;
	text-decoration-color: #ff4d00;
}

.body-desktop-device header .menu li a:hover {
	color: #ff4d00;
}

.body-desktop-device header .menu li a:active,
.body-mobile-device header .menu li a:active {
	color: #c73c00;
}

.body-desktop-device header .menu li.active a:hover,
.body-desktop-device header .menu li.active a:active,
.body-mobile-device header .menu li.active a:active {
	color: #ffffff;
}

header .contacts {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

header .contacts .phone {
	display: block;
	margin-right: 5px;
	font: 300 18px/1em 'Roboto', sans-serif;
	color: #ffffff;
	-webkit-transition: all 0.15s ease 0s;
	-ms-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.body-scrolled header .contacts .phone {
	font-size: 17px;
}

.body-desktop-device header .contacts .phone:hover {
	color: #ff4d00;
}

.body-desktop-device header .contacts .phone:active,
.body-mobile-device header .contacts .phone:active {
	color: #c73c00;
}

header .contacts .btn-soc-c30 {
	margin-left: 15px;
}


header .lang {
	margin-left: 15px;
	height: 30px;
	text-align: center;
}

header .lang .menu-lang > li {
	display: block;
	position: relative;
	color: #ffffff;
	border: 2px solid transparent;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	/* -webkit-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s; */
}

header .lang .menu-lang > li a {
	font: 300 16px/1.4em 'Roboto', sans-serif;
	color: currentColor;
}

header .lang .menu-lang > li > a {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 28px;
	height: 26px;
	color: #ffffff;
}

header .lang .menu-lang > li:hover {
	color: #ff4d00;
	border-color: #ff4d00;
}

header .lang .sub-menu {
	display: none;
}

header .lang .sub-menu li {
	display: block;
	width: 100%;
	margin: 2px auto;
}

header .lang .menu-lang > li:hover .sub-menu,
header .lang .menu-lang > li:active .sub-menu {
	display: block;
}

.body-desktop-device header .lang a:hover,
.body-desktop-device header .lang a:active,
.body-mobile-device header .lang a:active {
	color: #ffffff;
}

@media (max-width: 1199px) {
	header > .inner {
		height: 75px;
	}
	.body-scrolled header > .inner {
		height: 50px;
	}
	header .logo a {
		width: 150px;
	}
	.body-scrolled header .logo {
		top: -2px;
	}
	.body-scrolled header .logo a {
		width: 120px;
	}
	header .menu {
		padding-top: 2px;
		margin-left: 2%;
		margin-right: 2%;
	}
	header .menu li a {
		font-size: 18px;
	}
	header .contacts .phone {
		font-size: 16px;
	}
	header .contacts .btn-soc-c30 {
		width: 26px;
		height: 26px;
		margin-left: 12px;
	}
	header .lang {
		height: 26px;
		margin-left: 12px;
	}
	header .lang .menu-lang > li a {
		font-size: 15px;
	}
	header .lang .menu-lang > li > a {
		width: 26px;
		height: 22px;
	}
}

@media (max-width: 991px) {
	header > .inner::after {
		display: block;
		width: 60px;
		content: '';
	}
	header .menu {
		display: none;
	}
	header .contacts .phone {
		font-size: 15px;
	}
	header .lang {
		display: none;
	}
}

@media (max-width: 559px) {
	header .contacts,
	header .lang {
		display: none;
	}
}

/* ************************************************************************** */

footer {
	position: relative;
	z-index: 1;
	display: block;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-flex-basis: auto;
	-ms-flex-preferred-size: auto;
	flex-basis: auto;
	background: #24292d;
}

footer > .inner {
	position: relative;
	max-width: 1200px;
	padding: 40px 20px;
	margin: 0 auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

footer .group-1 {
	width: 180px;
}

footer .group-1 .social {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 20px;
}

footer .group-1 .social .btn-soc-c20 {
	margin: 0 10px;
}

footer .group-1 .logo {
	width: 100%;
	margin-bottom: 20px;
}

footer .group-1 .logo a {
	display: block;
	position: relative;
	height: 0;
	overflow: hidden;
	width: 100%;
	padding-bottom: 31.25%;
	-webkit-transition: width 0.3s ease 0s;
	-ms-transition: width 0.3s ease 0s;
	transition: width 0.3s ease 0s;
}

footer .group-1 .logo a .ico {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.15s ease 0s;
	-ms-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

footer .group-1 .logo a .logo-1-color-1 {
	fill: #ffffff;
	-webkit-transition: all 0.15s ease 0s;
	-ms-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

footer .group-1 .logo a .logo-1-color-2 {
	fill: #ff4d00;
	-webkit-transition: all 0.15s ease 0s;
	-ms-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.body-desktop-device footer .group-1 .logo a:hover .logo-1-color-1 {
	fill: #ff4d00;
}
.body-desktop-device footer .group-1 .logo a:active .logo-1-color-1,
.body-mobile-device footer .group-1 .logo a:active  .logo-1-color-1 {
	fill: #ff4d00;
}

.body-desktop-device footer .group-1 .logo a:hover .logo-1-color-2 {
	fill: #ffffff;
}
.body-desktop-device footer .group-1 .logo a:active .logo-1-color-2,
.body-mobile-device footer .group-1 .logo a:active  .logo-1-color-2 {
	fill: #ffffff;
}

footer .group-1 .copyright {
	font: 300 11px/1.4em 'Roboto', sans-serif;
	color: #ffffff;
	width: 100%;
	text-align: center;
}

footer .group-2 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

footer .group-2 .menu {
	width: 180px;
	margin-left: 40px;
	color: #ffffff;
	text-align: left;
}

footer .group-2 .menu .title {
	margin-bottom: 0.5em;
	font: bold 16px/1.4em 'Roboto', sans-serif;
}

footer .group-2 .menu li {
	margin-bottom: 0.5em;
	font: 300 16px/1.4em 'Roboto', sans-serif;
}

footer .group-2 .menu li a {
	color: #ffffff;
	-webkit-transition: all 0.15s ease 0s;
	-ms-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.body-desktop-device footer .group-2 .menu li a:hover {
	color: #ff7033;
}

.body-desktop-device footer .group-2 .menu li a:active,
.body-mobile-device footer .group-2 .menu li a:active {
	color: #c73c00;
}


@media (max-width: 1199px) {
	footer > .inner {
		padding: 35px 20px;
	}
}

@media (max-width: 699px) {
	footer > .inner {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	footer .group-1 {
		padding-top: 10px;
	}
	footer .group-2 {
		-webkit-box-ordinal-group: 0;
		-ms-flex-order: -1;
		-webkit-order: -1;
		order: -1;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	footer .group-2 .menu {
		margin-left: 0;
		margin-bottom: 20px;
	}
	footer .group-2 .menu li {
		font-size: 14px;
	}
}

/* ************************************************************************** */

.section-slider-promo {
	overflow-x: hidden;
	padding: 0;
	background-color: #24292d;
}

.section-slider-promo > .inner {
	max-width: none;
	padding: 0;
}

.section-slider-promo .slider {
	position: relative;
}

.section-slider-promo .slider .list {
	position: relative;
	z-index: 1;
}

.section-slider-promo .slider .item {
	width: 100vw;
	height: 100vh;
	height: -webkit-fill-available;
	height: -moz-available;
	height: fill-available;
	position: relative;
}

.section-slider-promo .slider .item .background {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.section-slider-promo .slider .item .content {
	position: relative;
	z-index: 2;
	height: 100%;
	width: 100%;
	max-width: 760px;
	padding: 50px 50px;
	margin: 0 auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
}

.section-slider-promo .slider .item .title {
	width: 100%;
	margin-bottom: 0.5em;
	font: 900 60px/1em 'Roboto', sans-serif;
	color: #ffffff;
	text-transform: uppercase;
}

.section-slider-promo .slider .item .text {
	width: 100%;
	margin-bottom: 0.5em;
	font: 300 16px/1.33em 'Roboto', sans-serif;
	color: #ffffff;
}

.section-slider-promo .slider .item .bottom {
	margin-top: 30px;
	text-align: center;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.section-slider-promo .slider .item .bottom .btn-primary {
	min-width: 150px;
}


.section-slider-promo .slider .nav-left,
.section-slider-promo .slider .nav-right {
	display: block;
	position: absolute;
	top: 50%;
	z-index: 2;
	width: 0;
	height: 0;
	cursor: pointer;
}

.section-slider-promo .slider .nav-left {
	left: 0;
}

.section-slider-promo .slider .nav-right {
	right: 0;
}

.section-slider-promo .slider .nav-left .btn-slider-promo-nav,
.section-slider-promo .slider .nav-right .btn-slider-promo-nav {
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.section-slider-promo .slider .nav-left .btn-slider-promo-nav {
	left: 0;
	-webkit-transform: translateX(-100%) translateY(-50%);
	-ms-transform: translateX(-100%) translateY(-50%);
	transform: translateX(-100%) translateY(-50%);
}

.section-slider-promo .slider .nav-right .btn-slider-promo-nav {
	right: 0;
	-webkit-transform: translateX(100%) translateY(-50%);
	-ms-transform: translateX(100%) translateY(-50%);
	transform: translateX(100%) translateY(-50%);
}

.body-desktop-device .section-slider-promo:hover .slider .nav-left .btn-slider-promo-nav,
.body-desktop-device .section-slider-promo:hover .slider .nav-right .btn-slider-promo-nav {
	-webkit-transform: translateX(0) translateY(-50%);
	-ms-transform: translateX(0) translateY(-50%);
	transform: translateX(0) translateY(-50%);
}

.body-desktop-device .section-slider-promo .slider .nav-left.show-thumb .btn-slider-promo-nav {
	opacity: 0;
}

.body-desktop-device .section-slider-promo .slider .nav-right.show-thumb .btn-slider-promo-nav {
	opacity: 0;
}

.section-slider-promo .slider .preview {
	position: absolute;
	overflow: hidden;
	z-index: 2;
	width: 180px;
	top: 0;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.6);
	-webkit-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.section-slider-promo .slider .nav-left .preview {
	left: 0;
	-webkit-border-radius: 0 8px 8px 0;
	-moz-border-radius: 0 8px 8px 0;
	border-radius: 0 8px 8px 0;
	-webkit-transform: translateX(-100%) translateY(-50%);
	-ms-transform: translateX(-100%) translateY(-50%);
	transform: translateX(-100%) translateY(-50%);
}

.section-slider-promo .slider .nav-right .preview {
	right: 0;
	-webkit-border-radius: 8px 0 0 8px;
	-moz-border-radius: 8px 0 0 8px;
	border-radius: 8px 0 0 8px;
	-webkit-transform: translateX(100%) translateY(-50%);
	-ms-transform: translateX(100%) translateY(-50%);
	transform: translateX(100%) translateY(-50%);
}

.section-slider-promo .slider .nav-left.show-thumb .preview,
.section-slider-promo .slider .nav-right.show-thumb .preview {
	opacity: 1;
	-webkit-transform: translateX(0) translateY(-50%);
	-ms-transform: translateX(0) translateY(-50%);
	transform: translateX(0) translateY(-50%);
	-webkit-transition: all 0.3s ease 0.2s;
	-ms-transition: all 0.3s ease 0.2s;
	transition: all 0.3s ease 0.2s;
}


.section-slider-promo .slider .preview .thumbnail {
	width: 100%;
	height: 110px;
	background-position: 50% 50%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.section-slider-promo .slider .preview .title {
	text-align: center;
	padding: 10px;
	font: 700 12px/1.2em 'Roboto', sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	-webkit-transition: all 0.15s ease 0s;
	-ms-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.body-desktop-device .section-slider-promo .slider .preview .title:hover {
	color: #ff4d00;
}

.body-desktop-device .section-slider-promo .slider .preview .title:active,
.body-mobile-device .section-slider-promo .slider .preview .title:active {
	color: #c73c00;
}

.section-slider-promo .slider .btn-top-bottom {
	position: absolute;
	z-index: 3;
	left: 50%;
	bottom: 50px;
	margin-left: -20px;
}


@media (max-width: 1199px) {
	.section-slider-promo .slider .item .title {
		font-size: 50px;
	}
	.section-slider-promo .slider .item .bottom {
		margin-top: 30px;
	}
	.section-slider-promo .slider .item .btn-h80 {
		height: 60px;
		padding: 0 25px;
		font-size: 20px;
	}
}

@media (max-width: 991px) {
	.section-slider-promo .slider .item .content {}
	.section-slider-promo .slider .item .title {
		font-size: 45px;
	}
	.section-slider-promo .slider .item .bottom {
		margin-top: 25px;
	}
	.section-slider-promo .slider .item .btn-h80 {
		height: 55px;
		padding: 0 20px;
		font-size: 19px;
	}
	.section-slider-promo .slider .nav-left,
	.section-slider-promo .slider .nav-right {
		display: none !important;
	}
}

@media (max-width: 767px) {
	.section-slider-promo .slider .item .content {
		padding: 50px 20px;
	}
	.section-slider-promo .slider .item .title {
		font-size: 32px;
	}
	.section-slider-promo .slider .item .text {
		font-size: 15px;
	}
	.section-slider-promo .slider .item .bottom {
		margin-top: 20px;
	}
	.section-slider-promo .slider .item .btn-h80 {
		height: 50px;
		padding: 0 20px;
		font-size: 16px;
	}
}

/* ************************************************************************** */

.section-about {
	background-color: #d0d0d0;
	background-image: url("../img/bgr-senka.jpg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	-webkit-background-size: auto 100%;
	-moz-background-size: auto 100%;
	background-size: auto 100%;
}

.section-about .content {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.section-about .content .info {
	width: 100%;
	padding: 0 100px;
}

.section-about .content .info p {
	margin-bottom: 1em;
	font: 400 19px/1.4em 'Roboto', sans-serif;
	color: #1d1d1d;
}

.section-about .content .info .tel {
	font: bold 30px/1.4em 'Roboto', sans-serif;
	color: #1d1d1d;
}

.section-about .content .figure {
	display: block;
	width: 45%;
	padding-left: 50px;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	-webkit-order: 1;
	order: 1;
}

.section-about .content .figure .img {
	display: block;
	width: 100%;
	-webkit-box-shadow: 10px 25px 25px 15px rgba(0, 0, 0, 0.2);
	box-shadow: 10px 25px 25px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1199px) {
	.section-about .content .info {
		padding: 0 40px;
	}
	.section-about .content .info p {
		font-size: 17px;
	}
	.section-about .content .info .tel {
		font-size: 27px;
	}
}

@media (max-width: 991px) {
	.section-about .content .info {
		padding: 0;
	}
	.section-about .content .info p {
		font-size: 16px;
	}
	.section-about .content .info .tel {
		font-size: 25px;
	}
	.section-about .content .figure {
		width: 40%;
		padding-left: 40px;
	}
}

@media (max-width: 767px) {
	.section-about .content {
		display: block;
	}
	.section-about .content::after {
		display: table;
		content: '';
		clear: both;
	}
	.section-about .content .figure {
		float: right;
		width: 50%;
		margin-bottom: 20px;
	}
}

@media (max-width: 499px) {
	.section-about .content {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.section-about .content .info {
		margin-bottom: 30px;
	}
	.section-about .content .figure {
		float: none;
		width: 100%;
		padding: 0;
		max-width: 500px;
		margin: 0 auto;
	}
}

/* ************************************************************************** */

.section-some-work {
	background-color: #24292d;
	background-image: url("../img/bgr-002.jpg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	text-align: center;
	color: #ffffff;
}

.section-some-work .header {
	margin-bottom: 30px;
}

.section-some-work .subtitle {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	font: 300 22px/1.4em 'Roboto', sans-serif;
}

.section-some-work .subtitle p {
	margin-bottom: 1em;
}

.section-some-work .slider-toggler {
	margin-bottom: 20px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.section-some-work .slider-toggler .toggler {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 140px;
	height: 140px;
	padding: 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: transparent;
	cursor: pointer;
	-webkit-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.section-some-work .slider-toggler .toggler:not(:last-child) {
	margin-right: 115px;
}

.section-some-work .slider-toggler .toggler .ico {
	display: block;
	width: 52%;
	height: 52%;
	fill: #ffffff;
	-webkit-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.body-desktop-device .section-some-work .slider-toggler .toggler:hover {
	background-color: rgba(255,255,255,0.1);
}

.body-desktop-device .section-some-work .slider-toggler .toggler:active,
.body-mobile-device .section-some-work .slider-toggler .toggler:active {
	background-color: rgba(255,255,255,0.05);
}

.body-desktop-device .section-some-work .slider-toggler .toggler:hover .ico {
	fill: #ff4d00;
	-webkit-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

.body-desktop-device .section-some-work .slider-toggler .toggler:active .ico,
.body-mobile-device .section-some-work .slider-toggler .toggler:active .ico {
	fill: #c73c00;
	-webkit-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

.section-some-work .slider-toggler .toggler.active {
	background-color: rgba(255,255,255,0.05);
}

.section-some-work .slider-toggler .toggler.active .ico {
	fill: #c73c00;
	-webkit-transform: rotateY(0deg) !important;
	-ms-transform: rotateY(0deg) !important;
	transform: rotateY(0deg) !important;
}

.section-some-work .slider-content {
	max-width: 800px;
	margin: 0 auto;
}

.section-some-work .slider-content ul {}

.section-some-work .slider-content li {
	text-align: center;
}

.section-some-work .slider-content li .ico {
	display: none;
	width: 60px;
	height: 60px;
	margin: 0 auto 30px auto;
	fill: #ffffff;
}

.section-some-work .slider-content li .title {
	margin-bottom: 1em;
	font: 400 36px/1em 'Roboto', sans-serif;
}

.section-some-work .slider-content li .text {
	font: 300 18px/1.4em 'Roboto', sans-serif;
}

.section-some-work .slick-dots {
	padding-top: 40px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.section-some-work .slick-dots li {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.section-some-work .slick-dots li button {
	display: block;
	width: 15px;
	height: 15px;
	border: 2px solid transparent;
	background-color: rgba(255,255,255,0.1);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	font-size: 0;
	cursor: pointer;
	-webkit-transition: all 0.15s ease 0s;
	-ms-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.body-desktop-device .section-some-work .slick-dots li:hover button {
	border-color: #ff4d00;
	background-color: transparent;
}

.body-desktop-device .section-some-work .slick-dots li:active button,
.body-mobile-device .section-some-work .slick-dots li:active button {
	border-color: #c73c00;
	background-color: transparent;
}

.section-some-work .slick-dots li.slick-active button {
	border-color: #ffffff !important;
	background-color: #ff4d00 !important;
}



@media (max-width: 1199px) {
	.section-some-work .subtitle {
		font-size: 20px;
	}
	.section-some-work .slider-toggler .toggler:not(:last-child) {
		margin-right: 60px;
	}
	.section-some-work .slider-content li .title {
		font-size: 34px;
	}
}

@media (max-width: 991px) {
	.section-some-work .subtitle {
		font-size: 18px;
	}
	.section-some-work .slider-toggler .toggler {
		width: 120px;
		height: 120px;
	}
	.section-some-work .slider-toggler .toggler:not(:last-child) {
		margin-right: 30px;
	}
	.section-some-work .slider-content li .title {
		font-size: 32px;
	}
	.section-some-work .slider-content li .text {
		font-size: 17px;
	}
}

@media (max-width: 767px) {
	.section-some-work .header {
		margin-bottom: 45px;
	}
	.section-some-work .subtitle {
		font-size: 16px;
	}
	.section-some-work .slider-toggler {
		display: none;
	}
	.section-some-work .slider-content li .ico {
		display: block;
	}
	.section-some-work .slider-content li .title {
		font-size: 30px;
	}
	.section-some-work .slider-content li .text {
		font-size: 16px;
	}
}

/* ************************************************************************** */

.section-portfolio {
	background-color: #ffffff;
	text-align: center;
}

.section-portfolio .list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.section-portfolio .item {
	width: 25%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	cursor: pointer;
}

.section-portfolio .item a {
	display: block;
	position: relative;
	width: 100%;
	height: 0;
	overflow: hidden;
	padding-bottom: 100%;
}

.section-portfolio .item a + a {
	display: none;
}

.section-portfolio .item a .info {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: absolute;
	padding: 20px 50px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #ffffff;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.6);
	-webkit-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.section-portfolio .item a .info .caption {
	display: block;
	position: relative;
	margin-bottom: 30px;
	width: 100%;
	font: 700 18px/1.25em 'Roboto', sans-serif;
}

.section-portfolio .item a .info .caption::after {
	display: block;
	position: absolute;
	content: '';
	bottom: -17px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 70px;
	height: 1px;
	background-color: #ffffff;
}

.section-portfolio .item a .info .partner,
.section-portfolio .item a .info .date {
	display: block;
	position: relative;
	width: 100%;
	font: 300 15px/1.5em 'Roboto', sans-serif;
}

.body-desktop-device .section-portfolio .item a:hover .info {
	opacity: 1;
}


.section-portfolio .slick-dots {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-top: 10px;
}

.section-portfolio .slick-dots li {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.section-portfolio .slick-dots li button {
	display: block;
	width: 15px;
	height: 15px;
	border: 2px solid #ffffff;
	background-color: rgba(0,0,0,0.2);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	font-size: 0;
	cursor: pointer;
	-webkit-transition: all 0.15s ease 0s;
	-ms-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.body-desktop-device .section-portfolio .slick-dots li:hover button {
	border-color: #ff4d00;
	background-color: transparent;
}

.body-desktop-device .section-portfolio .slick-dots li:active button,
.body-mobile-device .section-portfolio .slick-dots li:active button {
	border-color: #c73c00;
	background-color: transparent;
}

.section-portfolio .slick-dots li.slick-active button {
	border-color: #ff4d00 !important;
	background-color: transparent !important;
}

@media (max-width: 639px) {
	.section-portfolio .list {
		display: block;
	}
	.section-portfolio .item {
		display: block;
		width: auto;
	}
}

/* ************************************************************************** */

.section-partners {
	background-color: #F2F2F2;
	text-align: center;
}

.section-partners .content {
	position: relative;
	padding: 0 40px;
}

.section-partners .item {}

.section-partners .item a {
	height: 80px;
	padding: 0 10px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: opacity 0.3s ease 0s;
	-ms-transition: opacity 0.3s ease 0s;
	transition: opacity 0.3s ease 0s;
}

.section-partners .item img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.body-desktop-device .section-partners .item a:hover {
	opacity: 0.7;
}

.body-desktop-device .section-partners .item a:active,
.body-mobile-device .section-partners .item a:active {
	opacity: 1;
}

.section-partners .content .btn-slide-prev {
	left: 0;
}

.section-partners .content .btn-slide-next {
	right: 0;
}

@media (max-width: 499px) {
	.section-partners .content {
		margin-left: -20px;
		margin-right: -20px;
	}
}

/* ************************************************************************** */

.section-contact {
	background-color: #dededc;
	background-image: url("../img/bgr-contacts.jpg");
	-webkit-background-size: 960px auto;
	-moz-background-size: 960px auto;
	background-size: 960px auto;
	background-position: -webkit-calc(50% - 540px) 0;
	background-position: -moz-calc(50% - 540px) 0;
	background-position: calc(50% - 540px) 0;
	background-repeat: no-repeat;
	-webkit-background-size: auto 100%;
	-moz-background-size: auto 100%;
	background-size: auto 100%;
	text-align: left;
}

.section-contact .inner {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.section-contact .header,
.section-contact .content,
.section-contact .bottom {
	width: 60%;
	margin-left: auto;
}

.section-contact .content p {
	margin-bottom: 1em;
}

.section-contact .bottom {
	padding-top: 15px;
}

@media (max-width: 1199px) {
	.section-contact {
		background-position: -webkit-calc(50% - 390px) 0;
		background-position: -moz-calc(50% - 390px) 0;
		background-position: calc(50% - 390px) 0;
	}
	.section-contact .header,
	.section-contact .content,
	.section-contact .bottom {
		width: 50%;
	}
}

@media (max-width: 767px) {
	.section-contact {
		background-image: none;
		text-align: center;
	}
	.section-contact .header,
	.section-contact .content,
	.section-contact .bottom {
		width: 100%;
	}
}

/* ************************************************************************** */

.popup-hidden {
	display: none;
}

/* ************************************************************************** */

.fancybox-slide--html .fancybox-content .fancybox-close-small {
	padding: 0;
	right: 15px;
	top: 20px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: transparent;
	color: #1d1d1d;
	-webkit-transition: all 0.15s ease 0s;
	-ms-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.fancybox-slide--html .fancybox-content .fancybox-close-small svg {
	fill: currentColor;
}

.body-desktop-device .fancybox-slide--html .fancybox-content .fancybox-close-small:hover {
	background: #ff4d00;
	color: #ffffff;
	-webkit-box-shadow: 0px 25px 77px rgba(0, 0, 0, 0.19), 0px 12px 24px rgba(0, 0, 0, 0.24);
	box-shadow: 0px 25px 77px rgba(0, 0, 0, 0.19), 0px 12px 24px rgba(0, 0, 0, 0.24);
}

.body-desktop-device .fancybox-slide--html .fancybox-content .fancybox-close-small:active,
.body-mobile-device .fancybox-slide--html .fancybox-content .fancybox-close-small:active {
	background: #c73c00;
	color: #ffffff;
	-webkit-box-shadow: none;
	box-shadow: none;
}

@media (max-width: 767px) {
	.fancybox-slide--html .fancybox-content .fancybox-close-small {
		top: 5px;
		right: 5px;
	}
}

/* ************************************************************************** */

#popup_contact {
	width: 100%;
	max-width: 900px;
	max-height: 100%;
	padding: 40px 70px 30px 60px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	/* overflow: hidden; */
	background: #F2F2F2;
}

#popup_contact.fancybox-content {
	display: -webkit-inline-box !important;
	display: -webkit-inline-flex !important;
	display: -ms-inline-flexbox !important;
	display: inline-flex !important;
}

#popup_contact > .wrapper {
	width: 100%;
	max-height: 100%;
	overflow: hidden;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	/* IE10+ CSS styles go here */
	#popup_contact > .wrapper {
		height: -webkit-calc(100vh - 110px);
		height: -moz-calc(100vh - 110px);
		height: calc(100vh - 110px);
	}
}

#popup_contact .wrapper > .inner {
	position: relative;
	padding-right: 30px;
	padding-left: 30px;
}

#popup_contact .content {
	display: block;
	position: relative;
	z-index: 3;
	opacity: 1;
	-webkit-transition: opacity 0.5s ease 0s;
	-ms-transition: opacity 0.5s ease 0s;
	transition: opacity 0.5s ease 0s;
}

#popup_contact.email-success .content,
#popup_contact.email-error .content {
	z-index: 1;
	opacity: 0;
}

#popup_contact .message-success,
#popup_contact .message-error {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transition: opacity 0.5s ease 0s;
	-ms-transition: opacity 0.5s ease 0s;
	transition: opacity 0.5s ease 0s;
}

#popup_contact .message-error {
	color: #c73c00;
}

#popup_contact.email-success .message-success,
#popup_contact.email-error .message-error {
	z-index: 3;
	opacity: 1;
}

#popup_contact .message-error > .inner,
#popup_contact .message-success > .inner {
	height: 100%;
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	font-size: 24px;
	line-height: 1.4;
}


#popup_contact .header {
	margin-bottom: 20px;
}

#popup_contact .header h3 {
	margin-top: 0;
	margin-bottom: 0.5em;
}

#popup_contact .header .required {
	color: #ff4d00;
}

#popup_contact p {
	font-size: 16px;
}

#popup_contact .form-wrap {}

#popup_contact .field {
	margin-bottom: 25px;
}

#popup_contact .field .error {
	display: none;
    padding-top: 3px;
    font: normal 16px/1.3em 'Roboto';
    color: #EE3124;
}

#popup_contact .field.error .error {
	display: block;
}

#popup_contact .field.error input {
	background-color: #FBDDDD;
}

#popup_contact .field .title {
	margin-bottom: 0.4em;
	font: bold 23px/1.1em 'Roboto';
	color: #1d1d1d;
}

#popup_contact .field .title span {
	display: inline-block;
	position: relative;
}

#popup_contact .field.required .title span::after {
	position: relative;
	top: 3px;
	margin-left: 5px;
	content: '*';
	color: #EE3124;
}

#popup_contact .field p {
	margin-top: -0.1em;
	margin-bottom: 0.5em;
	font: 300 16px/1.3em 'Roboto';
	color: #1d1d1d;
}

#popup_contact .input-wrap input {
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
	height: 60px;
	background-color: #ffffff;
	font: 300 22px/1em 'Roboto';
	color: #1d1d1d;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-transition: all 0.15s ease 0s;
	-ms-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

#popup_contact .input-wrap input.wpcf7-not-valid {
	background-color: #FBDDDD;
}

#popup_contact .input-wrap input:hover,
#popup_contact .input-wrap input:focus {
	-webkit-box-shadow: 0px 25px 55px rgba(0, 0, 0, 0.08), 0px 16px 28px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 25px 55px rgba(0, 0, 0, 0.08), 0px 16px 28px rgba(0, 0, 0, 0.1);
}


#popup_contact .textarea-wrap textarea {
	display: block;
	padding: 18px 20px;
	width: 100%;
	height: 150px;
	background-color: #ffffff;
	font: 300 22px/1.5em 'Roboto';
	color: #1d1d1d;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-transition: all 0.15s ease 0s;
	-ms-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

#popup_contact .textarea-wrap textarea.wpcf7-not-valid {
	background-color: #FBDDDD;
}

#popup_contact .textarea-wrap textarea:hover,
#popup_contact .textarea-wrap textarea:focus {
	-webkit-box-shadow: 0px 25px 55px rgba(0, 0, 0, 0.08), 0px 16px 28px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 25px 55px rgba(0, 0, 0, 0.08), 0px 16px 28px rgba(0, 0, 0, 0.1);
}

#popup_contact .field.submit {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	margin-bottom: 0;
}

#popup_contact .field.submit .btn-wrap {
	position: relative;
	padding-left: 45px;
}

#popup_contact .field.submit .btn-wrap .ajax-loader {
	display: block;
	position: absolute;
	left: 0;
	top: 9px;
	opacity: 0;
	-webkit-transition: opacity 0.5s ease 0s;
	-ms-transition: opacity 0.5s ease 0s;
	transition: opacity 0.5s ease 0s;
}

#popup_contact.sending .field.submit .btn-wrap .ajax-loader {
	opacity: 1;
}

#popup_contact .btn-primary {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

#popup_contact .field.response {
	margin-bottom: 25px;
}

#popup_contact .wpcf7 form .wpcf7-response-output {
	color: #1d1d1d;
	font-size: 16px;
	padding: 0.5em 1em;
	margin: 0;
}


@media (max-width: 767px) {
	#popup_contact .fancybox-slide--html {
		padding: 10px;
	}
	#popup_contact {
		padding: 50px 15px 20px 0;
	}
	#popup_contact .wrapper > .inner {
		padding-right: 20px;
		padding-left: 20px;
	}
	#popup_contact .header h2 {
		font-size: 24px;
	}
	#popup_contact .field .title {
		font-size: 19px;
	}
}

/* ************************************************************************** */

::-ms-clear {
	display: none;
 }
 ::-ms-reveal {
	display: none;
 }

.body-desktop-device .input-wrap input:-webkit-autofill,
.body-desktop-device .input-wrap input:-webkit-autofill:hover,
.body-desktop-device .input-wrap input:-webkit-autofill:focus,
.body-desktop-device .input-wrap input:-webkit-autofill:active  {
	-webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
	box-shadow: 0 0 0 30px #ffffff inset !important;
	-webkit-transition: none;
	-ms-transition: none;
	transition: none;
}

.body-desktop-device .input-wrap input:-webkit-autofill {
	-webkit-text-fill-color: #1d1d1d !important;
}

.body-desktop-device .input-wrap input::first-line {
	font: 300 22px/1em 'Roboto';
	color: #1d1d1d;
}

/* ************************************************************************** */

.section-price {
	text-align: center;
}

.section-price > .inner > .content {
	margin-left: -20px;
	margin-right: -20px;
}

.section-price .items-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	margin-bottom: -20px;
}

.section-price .item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: -webkit-calc(100% - 40px);
	width: -moz-calc(100% - 40px);
	width: calc(100% - 40px);
	margin: 0 20px 20px 20px;
	border: 1px solid rgba(0, 0, 0, 0.6);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-align: center;
	overflow: hidden;
}

/* 2 или больше: */
.section-price .item:first-child:nth-last-child(n+2),
.section-price .item:first-child:nth-last-child(n+2) ~ .item {
	width: -webkit-calc(50% - 40px);
	width: -moz-calc(50% - 40px);
	width: calc(50% - 40px);
}

/* 3 или больше: */
.section-price .item:first-child:nth-last-child(n+3),
.section-price .item:first-child:nth-last-child(n+3) ~ .item {
	width: -webkit-calc(33.3% - 40px);
	width: -moz-calc(33.3% - 40px);
	width: calc(33.3% - 40px);
}

/* 4 или больше: */
.section-price .item:first-child:nth-last-child(n+4),
.section-price .item:first-child:nth-last-child(n+4) ~ .item {
	width: -webkit-calc(25% - 40px);
	width: -moz-calc(25% - 40px);
	width: calc(25% - 40px);
}

.section-price .item .title {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	padding: 14px 20px;
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.6);
}

.section-price .item .content {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding: 30px 20px 40px 20px;
}

.section-price .item .content .center {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.section-price .item .text {
	width: 100%;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	margin-bottom: 22px;
	font-size: 16px;
	color: #969696;
}

.section-price .item .money {
	margin-bottom: 40px;
	font-weight: bold;
	font-size: 36px;
	color: #1d1d1d;
}

@media (max-width: 1199px) {
	.section-price .item {
		width: -webkit-calc(50% - 40px) !important;
		width: -moz-calc(50% - 40px) !important;
		width: calc(50% - 40px) !important;
	}
	.section-price .item .text {
		font-size: 16px;
	}
	.section-price .item .money {
		margin-bottom: 36px;
		font-size: 32px;
	}
}

@media (max-width: 991px) {
	.section-price .item {
		width: -webkit-calc(100% - 40px) !important;
		width: -moz-calc(100% - 40px) !important;
		width: calc(100% - 40px) !important;
	}
}

/* ************************************************************************** */

.section-information {}

.section-information .content {
	font-size: 16px;
}

.section-information .content p {
	margin-bottom: 1em;
}

.section-information .content ul,
.section-information .content ol {
	margin-bottom: 1em;
}

.section-information .content ul li {
	position: relative;
	padding-left: 25px;
}

.section-information .content ul li::before {
	display: block;
	position: absolute;
	content: '';
	width: 5px;
	height: 5px;
	top: 7px;
	left: 0;
	background-color: #24292d;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

/* ************************************************************************** */

.section-individual-calc {}

.section-individual-calc .content {
	max-width: 500px;
	margin: 0 auto;
	padding: 30px 40px 40px 40px;
	border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
}

.section-individual-calc .content h3 {
	text-transform: none;
}

/* ************************************************************************** */

.section-faq {}

.section-faq .content ul {}

.section-faq .content li {
	display: block;
	margin-bottom: 4px;
}

.section-faq .content li .question {
	display: block;
	padding: 0;
	width: 100%;
	position: relative;
	z-index: 1;
	font-size: 20px;
	font-weight: 500;
	text-align: left;
	background-color: #F2F2F2;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	cursor: pointer;
	-webkit-transition: all 0.15s ease 0s;
	-ms-transition: all 0.15s ease 0s;
	transition: all 0.15s ease 0s;
}

.section-faq .content li.open .question {
	background-color: transparent;
}

.section-faq .content li .question span {
	display: block;
	position: relative;
	z-index: 2;
	width: 100%;
	padding: 15px 80px 14px 20px;
}

.section-faq .content li .question span::after {
	display: block;
	content: '';
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top: -2px;
	width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid currentColor;
}

.section-faq .content li.open .question span::after {
	-webkit-transform: rotateX(180deg);
	-ms-transform: rotateX(180deg);
	transform: rotateX(180deg);
	margin-top: -4px;
}

.section-faq .content li .question::before,
.section-faq .content li .question::after {
	display: block;
	position: absolute;
	content: '';
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-border-radius: inherit;
	-moz-border-radius: inherit;
	border-radius: inherit;
	-webkit-transition: opacity 0.15s ease 0s;
	-ms-transition: opacity 0.15s ease 0s;
	transition: opacity 0.15s ease 0s;
}

.section-faq .content li .question::before {
	background: #ff4d00;
}

.section-faq .content li .question::after {
	background: #c73c00;
}

.body-desktop-device .section-faq .content li .question:hover {
	z-index: 2;
	color: #ffffff;
	-webkit-box-shadow: 0px 35px 77px rgba(0, 0, 0, 0.19), 0px 20px 45px rgba(0, 0, 0, 0.24);
	box-shadow: 0px 35px 77px rgba(0, 0, 0, 0.19), 0px 20px 45px rgba(0, 0, 0, 0.24);
}
.body-desktop-device .section-faq .content li .question:hover::before {
	opacity: 1;
}

.body-desktop-device .section-faq .content li.open .question:hover {
	color: #ff7033;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.body-desktop-device .section-faq .content li.open .question:hover::before {
	opacity: 0;
}


.body-desktop-device .section-faq .content li .question:active,
.body-mobile-device .section-faq .content li .question:active {
	z-index: 2;
	color: #ffffff;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.body-desktop-device .section-faq .content li .question:active::after,
.body-mobile-device .section-faq .content li .question:active::after {
	opacity: 1;
}

.body-desktop-device .section-faq .content li.open .question:active,
.body-mobile-device .section-faq .content li.open .question:active {
	color: #c73c00;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.body-desktop-device .section-faq .content li.open .question:active::after,
.body-mobile-device .section-faq .content li.open .question:active::after {
	opacity: 0;
}

.section-faq .content li .answer {
	display: none;
	padding: 0 80px 20px 20px;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.33em;
}

.section-faq .content li .answer p {
	margin-bottom: 0.5em;
}

.section-faq .content li .answer *:last-child {
	margin-bottom: 0;
}

.section-faq .content li .answer a {
	font-weight: 500;
}

@media (max-width: 767px) {
	.section-faq > .inner {
		padding-top: 35px;
		padding-bottom: 10px;
	}
	.section-faq .content li .question {
		font-size: 18px;
	}
}

/* ************************************************************************** */

.section-article {
	padding-top: 60px;
}

.section-article > .inner {
	max-width: 820px;
}

@media (max-width: 1199px) {
	.section-article {
		padding-top: 50px;
	}
}

@media (max-width: 767px) {
	.section-article {
		padding-top: 40px;
	}
}

/* ************************************************************************** */

.article {}

.article h2 {
	margin: 1em 0;
	text-transform: none;
}

.article p,
.article ul,
.article ol {
	margin-bottom: 1em;
}

.article ol {
	counter-reset: list1;
}

.article ul li {
	position: relative;
}

.article ul li {
	position: relative;
	padding-left: 25px;
}

.article ol li {
	position: relative;
	padding-left: 25px;
}

.article ul li::before {
	display: block;
	position: absolute;
	content: '';
	width: 5px;
	height: 5px;
	top: 7px;
	left: 0;
	background-color: #24292d;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.article ol li::before {
	display: block;
	position: absolute;
	font-weight: 600;
	top: 0;
	left: 0;
	counter-increment: list1;
	content: counter(list1) '.';
	/* content: counter(list1, decimal-leading-zero) '.'; */
}

/* ************************************************************************** */
















